.DS_Store
.idea/
cmake-build-debug/
build/
build-release/
generate_license_key.py
src/License.cpp
license.js
*.log
resources/stockfish
resources/stockfish.exe
resources/katago
resources/katago.exe
resources/katago-model.bin.gz
resources/katago-gtp.cfg